@model SearchViewModel
@{
    ViewData["Title"] = "Index";
}

<div>
    <br/>
    <h1 class="display-4"> Search Results: </h1>
    <br/>
    <div>
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {
            <select asp-for="@Model.Filter" asp-items="@Html.GetEnumSelectList(typeof(Options))">
            </select> 
            @Html.TextBox("search") <input asp-for="@Model.SearchInput" type="submit" value="Search"/>
        }
    </div>
    <br/>
    <div>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead style="text-align: center">
                <th>
                    @Html.DisplayNameFor(model => model.Titles)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
            </thead>
            <tbody>
            @{
                System.Diagnostics.Debug.Assert(Model.Inventories != null, "Model.Inventories != null");
                Console.WriteLine(Model.SearchInput);
            }
            @foreach (var item in Model.Inventories.Where(item => item.BookTitle!.Equals(@ViewData[""])))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
